.alloy-item {
  &.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: $brand-one;
    padding: 0 0 0 $base-margin;

    .background {
      max-width: 900px;
      height: 100vh;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $brand-two;
      overflow: hidden;
    }
    .inner {
      position: relative;

      .content {
        position: relative;
        z-index: 100;
        // text-shadow: 2px 2px 5px rgba($brand-dark, $base-alpha);
        padding: $base-margin;
        @include media-breakpoint-up(md) {
          // margin-left: 75px;
          padding: $base-margin * 8;
        }
      }
    }
  }
  img {
    position: absolute;
    top: 0;
    right: 0;
    max-width: 200px;
    display: block;
    transform: translateX(25%) translateY(-25%);
    // z-index: -1;
    @include media-breakpoint-up(md) {
      max-width: 400px;
      transform: translateX(50%) translateY(0);
    }
  }
}
.btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
}
//------------------------------------------------------//
// Month color logic
//------------------------------------------------------//

$months: january february march april may june july august september october
  november december;
$colors: $brand-one $brand-two $brand-three $brand-four $brand-five $brand-six
  $brand-seven $brand-eight $brand-nine $brand-ten $brand-eleven $brand-twelfth
  $brand-one;
@each $current-month in $months {
  $i: index($months, $current-month);
  .alloy-item.month-#{$current-month} {
    background-color: nth($colors, $i) !important;
    .background {
      $j: $i + 1;
      color: nth($colors, $i);
      background-color: nth($colors, $j);
    }
  }
}
//------------------------------------------------------//
// END Month color logic
//------------------------------------------------------//
