.alloy-item {
  &.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    width: 100%;
    background-color: $brand-one;

    .inner {
      max-width: 800px;
      position: relative;
    }
  }
  .content {
    position: relative;
    z-index: 100;
    text-shadow: 2px 2px 5px rgba($brand-dark, $base-alpha);
    @include media-breakpoint-up(md) {
      margin-left: 75px;
    }
  }
  img {
    position: absolute;
    top: 0;
    left: 0;
    max-width: 400px;
    display: block;
    transform: translateX(-50%) translateY(-50%);
    // z-index: -1;
  }
}
.btn {
  background-color: #fff;
  color: #000;
  text-decoration: none;
  padding: 5px 10px;
}
//------------------------------------------------------//
// Month color logic
//------------------------------------------------------//

$months: january february march april may june july august september october
  november december;
$colors: $brand-one $brand-two $brand-three $brand-four $brand-five $brand-six
  $brand-seven $brand-eight $brand-nine $brand-ten $brand-eleven $brand-twelfth;
@each $current-month in $months {
  $i: index($months, $current-month);
  .month-#{$current-month} {
    background-color: nth($colors, $i) !important;
  }
}
//------------------------------------------------------//
// END Month color logic
//------------------------------------------------------//
